div {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    padding: 4em;
}

button {
    margin: 0 auto;
    padding: 1em 2em;
    background-color: magenta;
    border: none;
    border-radius: 1em;
    color: white;
    font-size: 3em;
}

button:active {
    background-color: #657B83;
}